spring:
    application:
        name: api-gateway
    cloud:
        gateway:
            server:
                webflux:
                    routes:
                        - id: sale-service
                          uri: http://localhost:8081
                          predicates: 
                            - Path=/sales/**
                          filters:
                            - StripPrefix=1

                        - id: product-service
                          uri: http://localhost:8082
                          predicates:
                            - Path=/products/**
                          filters:
                            - StripPrefix=1

                        - id: customer-service
                          uri: http://localhost:8083
                          predicates:
                            - Path=/customers/**
                          filters:
                            - StripPrefix=1